body{
    margin: 0;
}

header,footer{

    background-color: #333333;
    color: white;
    padding: 20px;
    text-align: center;
}
.container{
    width: 80%;
    margin: 30px auto;
}