html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    position: relative;
    margin: 0;
    background-color: lightcyan;
}
header h2,h3{
    margin: 0;
    font-family: 'Great Vibes', cursive;
    background-color: lavenderblush;
    padding:10px;
}
main{
    column-count: 2;
    column-gap: 10px;
    column-rule: 2px solid grey;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
main article p:first-child{
    margin-top: 0;
}
footer{
    padding: 10px;
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
    background-color: lavenderblush;
    text-align: center;
}