html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    background-image: url('../images/map.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
}
body h1{
    font-family: 'Chelsea Market', cursive;
}
body p{
    font-family: 'Arvo', serif;
}
.wrapper{
width: 80%;
display: block;
margin: 40px auto;
background-color: rgba(255, 255, 255, 0.623);
padding: 40px;
border: 2px solid ;
}
p:first-letter{
    font-size: 40px;
    color: blue;
    float: left;
    line-height: 40px;
}
figure{
    max-width: 200px;
    margin: 0 0 20px 0;
    float: left;
}

figure.left
{
    float: left;
    margin-left: 20px;
}

figure.right{
    float: right;
    margin-right: 20px;
}
figure img{
    width: 100%;
}

footer{
    margin-top: 40px;
    text-align: center;   
}

footer a{
    text-decoration: none;
    background-color: blueviolet;
    color: cornsilk;
    padding: 20px;
}

footer a:hover{
    color: black;
    background-color: blue;
}